// ==========================================================================
// Navbar
// ==========================================================================

.navbar {
	position: relative;
	@include mq(med) {
		margin-top: em(5px);
		margin-bottom: 0;
	}
}

header {
		padding: 0;
}
